numpy==2.2.6 # For numerical analysis
pandas==2.3.3 # For data manipulation
pandas-ta==0.4.71b0 # For technical analysis indicators

# Data Sources
ccxt==4.3.45
feedparser==6.0.11
yfinance==0.2.40
tweepy==4.14.0

# NLP
nltk==3.8.1
textblob==0.18.0.post0

# Database
peewee==3.18.3
# psycopg2-binary # Example for PostgreSQL, uncomment and use the correct one for your DB

# Web App & Visualization
streamlit==1.51.0
streamlit-option-menu==0.4.0
plotly==6.4.0

# Utilities
python-dotenv==1.2.1